@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<img src="~/images/cityhall.jpg" alt="CityHall" />
<address>
    120 Smith Street P.O. Box 378<br />
    Harrisburg, OR 97446<br />
    <abbr title="Phone">P:</abbr>
    541-995-6655
</address>