@{
    ViewData["Title"] = "History";
}

<h2>@ViewData["Message"]</h2>
<p>The first settlement in the Harrisburg district was near the foothills. Among pioneers were John Wilson, Thos. Wilson, Luther White, David Putnam, William Vaughan and others. 
    First arrivals were in 1847. Soon thereafter the land towards the Willamette River was taken up. Among the earliest settlers close to Harrisburg were Wm. A. Forgey, David Acry and W. H. 
    McCully, Hiram Smith, Thomas Roach, J. P. Schooling and several more. In 1852 the population in the vicinity of Harrisburg numbered about 100 (101). The land was unfenced and stockraising 
    the principal occupation. The community organized and a precinct was formed and named Prairie Precinct, with the voting place on Muddy Creek, near John Harris’ place, on the claim 
    of Henry F. Schooling. <br /><br />

The land on which Harrisburg stands belonged to Wm. A. Forgey who had the site surveyed and town lots laid out in 1852. In 1853 D. and A. A. McCully started a store which become 
    the germ of the new town. Forgey called his town-site Thurston, but the Post Office department rejected the name since there was already one Thurston in the state, so Forgey 
    called the place Harrisburg, after his home town in Pennsylvania (102), and the precinct took the name of the town. <br /><br />

Harrisburg was slow to grow at first, then progressed more rapidly, to decline again in 1857 until, in 1861, only one store remained, run by Perry Hyde. The price of real estate become very low.  
    The lot where Smith & Brasfield's store now stands (1878), plus two lots where the drug store is, with a house included, were all bought for $112.  Farm land close to town  could be had for 
    seven or eight dollars an acre.  About this time Smith & McCully went into business with some $8,000 capital, infusing a little life, from which period the town rallied. The annual exportation 
    of grain about 1878 was around 300,000 bushels per annum, and from 12,000 to 15,000 barrels of flour were shipped (101).<br /><br />

There is a local version of how Harrisburg got its name, backed by Mrs. Alice (McCully) Belmont and several old settlers, namely that the town was named for John Harris whose place on 
    Muddy Creek early voting took place. <br /><br />

In November, 1866, Harrisburg received its city charter, with 45 voters for it and two against. Judges at the election were E. B. Moore, J. C. Snodgrass and J. V. Smith; 
    clerks James Reiley and B. H. Rouch.</p>