@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Welcome to Harrisburg, OR</h2>
    <h3>@ViewBag.Today.ToString("D")</h3>
    <img src="~/Images/gazebo.png" alt="Gazebo by the river" />
    <p>
        This website is dedicated to the city and history of Harrisburg, Oregon. The community is a small farming town.
    </p>
</div>